@charset "utf-8";
#body {
  margin: 0px;
  padding: 0px;
}
#header {
  text-align: center;
  border-bottom: 1px #cccccc solid;
}
#header h1 {
  margin: 20px 0px 20px 0px;
  letter-spacing: 0.2em;
}
#leftmenu {
  float: left;
  width: 150px;
  padding: 0px;
  border-right: 1px #cccccc solid;
}
#leftmenu ul {
  margin: 0px;
  padding: 0px;
}
#leftmenu ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
#main {
  margin-left: 150px;
  border-left: 1px #cccccc solid;
  padding: 0px;
}
#main h2 {
  margin: 0px 0px 10px 0px;
}
#main table {
  width: 90%;
  border-collapse: collapse;
}
#main table td, #main table th {
  border: 1px #666666 solid;
  padding: 5px;
}
#main table tr.centered {
  text-align: center;
}
#main p.category {
  font-weight: bold;
}
#main p.not-in-stock {
  color: #FF0000;
}
#footer {
  clear: both;
  text-align: right;
  border-top: 1px #cccccc solid;
  padding-right: 10px;
}
#footer p {
  font-size: smaller;
  font-style: italic;
}
#pagination {
  margin-top: 20px;
}
#pagination #previous-page {
  float: left;
  padding-left: 20px;
}
#pagination #next-page {
  float: right;
  padding-right: 20px;
}
#pagination #num-pages {
  text-align: center;
}
#messages {
  font-style: italic;
}
#messages #success{
  color: green;
}
#user {
  font-size: smaller;
  float: right;
  padding-right: 10px;
}
.comment {
  width: 640px;
  border: 1px solid #cccccc;
}
.comment div {
  padding: 4px;
}
.comment .user {
  background-color: #eeeeee;
  font-weight: bold;
}
.comment .date {
  background-color: #eeeeee;
  font-style: italic;
  text-align: right;
}
.comment-removed {
  font-weight: bold;
}
.padding_ {
  padding: 10px;
}
