{% extends "page/page_base.html" %}
{% block title %}{% if category %}{{ category.name }}{% endif %}{% endblock %}
{% block main %}
    <h2>{% if category %}{{ category.name }}{% endif %}</h2>
    {% if perms.page.add_good and category %}
        <p><a href="{% url "good_add" cat_id=category.id %}?page={{ page_obj.number }}">Добавить товар</a></p>
    {% endif %}
    <table>
        {% if object_list %}
        <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Есть в наличии</th>
            {% if perms.page.change_good %}
                <th>Изменить</th>
            {% endif %}
            {% if perms.page.delete_good %}
                <th>Удалить</th>
            {% endif %}
        </tr>
        {% endif %}
        {% for good in object_list %}
        <tr class="centered">
            {% load thumbnail %}
            <td>
                <img src="{% thumbnail good.thumbnail|default:"goods/thumbnails/default.png" 40x40 %}">
            </td>
            <td><a href="{% url "good" good_id=good.id  %}?page={{ page_obj.number }}">{{ good.name }}</a></td>
            <td>{{ good.price }} руб.</td>
            <td>{% if good.in_stock %}+{% endif %}</td>
            {% if perms.page.change_good %}
                <td>
                    <a href="{% url "good_edit" good_id=good.id %}?page={{ page_obj.number }}">Изменить</a>
                </td>
            {% endif %}
            {% if perms.page.delete_good %}
                <td>
                    <a href="{% url "good_delete" good_id=good.id %}?page={{ page_obj.number }}">Удалить</a>
                </td>
            {% endif %}
        </tr>
        {% empty %}
            <p>В данной категории отвары отсутствуют</p>
        {% endfor %}
    </table>
    {% if paginator.num_pages > 1 %}
        <div id="pagination">
            {% if page_obj.has_previous %}
            <div id="previous-page">
                <a href="{% url "page_index" cat_id=category.id %}?page={{ page_obj.previous_page_number }}">&lt;</a>
            </div>
            {% endif %}

            {% if page_obj.has_next %}
            <div id="next-page">
                <a href="{% url "page_index" cat_id=category.id %}?page={{ page_obj.next_page_number }}">&gt;</a>
            </div>
            {% endif %}

            <div id="num-pages">
                {% for pn in paginator.page_range %}
                    {% if not forloop.first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if page_obj.number == pn %}
                        {{ pn }}
                    {% else %}
                        <a href="{% url "page_index" cat_id=category.id %}?page={{ pn }}">{{ pn }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
